body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.loadBtn{
  margin-right: 20px;
  margin-left: 500px;
  background-color: aqua;
  margin-bottom: 30px;
}

.showBtn{
  background-color: aqua;
}

.table{
  margin: 15px;
}
.title{
    text-align: center;
}